<% page_data(title: "Providers (#{govuk_number(@pagy.count)})") %>

<% content_for :custom_layout do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= yield(:page_header) %>
      <%= govuk_button_link_to("Add provider", new_provider_onboarding_path) %>
    </div>
  </div>

  <div class="app-filter-layout">

    <div class="app-filter-layout__filter">
      <%= render "providers/filters" %>
    </div>
    <div class="app-filter-layout__content">

      <%= render "providers/search" %>

    <% if @records.empty? %>
      <p class="govuk-body">
        There are no providers.
      </p>
    <% else %>

      <% provider_summary_cards(@records).each do |summary_card| %>
        <%= govuk_summary_card(title: summary_card[:title]) do |card|
              card.with_summary_list(rows: summary_card[:rows])
            end %>
      <% end %>

      <%= render PaginationDisplay::View.new(pagy: @pagy) %>
    <% end %>
  </div>

<% end %>
