<%= content_for(:breadcrumbs) do %>
  <%= govuk_back_link(text: "Back", href: providers_path(debug: params[:debug])) %>
<% end %>

<% provider_page_data(@provider) %>

<%= content_for(:secondary_navigation) do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render ProviderNavigation::View.new(provider: @provider, active_tab: "Provider details") %>
    </div>
  </div>
<% end %>

<h2 class="govuk-heading-m">Provider details</h2>

<div class="govuk-button-group">
    <% if @provider.archived? %>
        <%= govuk_button_link_to("Restore provider", provider_restore_path(@provider)) %>
        <%= govuk_link_to("Delete provider", provider_delete_path(@provider)) %>

    <% else %>
        <%= govuk_button_link_to("Archive provider", provider_archive_path(@provider)) %>
    <% end %>
</div>

<%= govuk_summary_list(rows: provider_details_rows(@provider)) %>

<% if debug_mode? && @provider.seed_data_notes.present? %>
  <h3 class="govuk-heading-m">Seed data</h3>
  <h4 class="govuk-heading-s">Data errors</h4>
  <%= govuk_table(
        rows: [["Field", { text: "Error" }]] +
              @provider.seed_data_notes["errors"].map do |field, field_errors|
                [field, { text: safe_join(field_errors.map(&:to_s), tag.br) }]
              end,
        first_cell_is_header: true
      ) if @provider.seed_data_notes["errors"].present? %>

  <h4 class="govuk-heading-s">Imported data</h4>
  <%= govuk_table(
        rows: [["Field", { text: "Value" }]] +
              @provider.seed_data_notes["row_imported"].compact.map do |field, field_row_imported|
                [field, { text: field_row_imported }]
              end,
        first_cell_is_header: true
      ) if @provider.seed_data_notes["row_imported"].present? %>
<% end %>
