<%= content_for(:breadcrumbs) do %>
  <%= govuk_back_link(text: "Back", href: back_path) %>
<% end %>

<% page_data(title: "Check your answers", subtitle: "Add provider", caption: "Add provider") %>

<%= govuk_summary_list(rows: provider_rows(model, change_path, change_provider_type_path:, change_provider_details_path:)) %>

<% if accreditation_form&.valid? %>
  <h2 class="govuk-heading-m">Accreditation</h2>
  <%= govuk_summary_list(rows: accreditation_form_rows(accreditation_form)) %>
<% end %>

<% if address_form&.valid? %>
  <h2 class="govuk-heading-m">Address</h2>
  <%= govuk_summary_list(rows: address_rows(address_form, change_address_path)) %>

  <% if show_location_section?(address_form) %>
    <h2 class="govuk-heading-m">Location</h2>
    <p class="govuk-body">We collect location data to support location-based searches. It's generated automatically from the address you entered.</p>
    <%= govuk_summary_list(rows: location_rows(address_form)) %>
  <% end %>
<% end %>

<%= govuk_button_to("Save provider", save_path, method:) %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", providers_path) %>
</p>
