<%= content_for(:breadcrumbs) do %>
  <%= govuk_back_link(text: "Back", href: providers_path) %>
<% end %>

<% provider_page_data(@provider) %>

<%= content_for(:secondary_navigation) do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render ProviderNavigation::View.new(provider: @provider, active_tab: "Addresses") %>
    </div>
  </div>
<% end %>

<h2 class="govuk-heading-m">
  Addresses<%= " (#{@addresses.count})" if @addresses.any? %>
</h2>

<% unless @provider.archived? %>
  <div class="govuk-button-group">
    <%= govuk_button_link_to("Add address", new_provider_address_path(@provider)) %>
  </div>
<% end %>

<%= render "addresses_list", addresses: @addresses, provider: @provider %>
