<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: @back_path
      ) %>
<% end %>

<% page_data(title: @page_title, subtitle: @page_subtitle, caption: @page_caption, error: @form.errors.present?) %>

<%= form_for @form, url: @form_url, method: :post do |form| %>
  <%= content_for(:page_alerts) { form.govuk_error_summary } %>

  <%= render DfE::Autocomplete::View.new(
        form,
        attribute_name: :partner_id,
        form_field: form.govuk_select(
          :partner_id,
          options_for_select(
            dfe_autocomplete_options(@partners),
            form.object.partner_id
          ),
          label: { text: "Search for a training partner", size: "s" }
        )
      ) %>

  <%= govuk_details summary_text: t(".details.summary_text"), text: t(".details.text_html") %>
  <%= form.govuk_submit "Continue" %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", @cancel_path) %>
</p>
