<%= content_for(:breadcrumbs) do %>
  <%= govuk_back_link(text: "Back", href: @back_path) %>
<% end %>

<% page_data(title: "Check your answers", subtitle: @page_subtitle, caption: @page_caption) %>

<%= govuk_summary_list(rows: partnership_rows(@form)) %>

<%= govuk_button_to(@save_button_text, @save_path, method: @form_method) %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", @cancel_path) %>
</p>
