<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: users_path,
      ) %>
<% end %>

<%= form_for @user  do  |form| %>
  <% page_data(title: "Add support user", subtitle: "personal details", header: false, error: @user.errors.present?) %>

  <%= content_for(:page_alerts) { form.govuk_error_summary } %>

  <%= form.govuk_fieldset legend: { text: "Personal details" }, caption: { text: "Add support user" } do %>
    <%= render partial: "fields", locals: { form: form } %>
    <%= form.govuk_submit %>
  <% end %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", users_path) %>
</p>
