<%= content_for(:breadcrumbs) do %>
    <%= govuk_back_link(text: "Back", href: @back_path) %>
<% end %>

<% page_data(title: @page_title, subtitle: @page_subtitle, caption: @page_caption) %>


<p class="govuk-body">If you do not want to delete the partnership, but update that it has ended, <%=govuk_link_to "add the partnership end date.", provider_edit_partnership_dates_path(@partnership,  provider_id: provider.id) %></p>

<%= govuk_warning_text(text: "Deleting an partnership is permanent – you cannot undo it.") %>

<%= govuk_button_to("Delete partnership", @delete_path, method: :delete, warning: true) %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", @cancel_path) %>
</p>
