<%= content_for(:breadcrumbs) do %>
  <% if use_breadcrumbs? %>
    <%= govuk_breadcrumbs(breadcrumbs: { "Home" => back_path }) %>
  <% else %>
    <%= govuk_back_link(text: "Back", href: back_path) %>
  <% end %>
<% end %>

<p class="govuk-hint govuk-!-font-size-16"><%= user_last_signed_in_at(user) %></p>

<% if show_delete_link? %>
<p class="govuk-body">
  <%= govuk_link_to("Delete user", delete_path) %>
</p>
<% end %>

<% page_data(title:, caption:, header:) %>

<%= govuk_summary_list(rows:) %>
