<h2 class="govuk-heading-l"><%= persona.name %> <%=govuk_tag(**tag_args)%> </h2>

<%= form_with url: "/auth/developer/callback" do |f| %>
  <%= hidden_field_tag "email", persona.email %>
  <%= hidden_field_tag "first_name", persona.first_name %>
  <%= hidden_field_tag "last_name", persona.last_name %>
  <%= f.submit "Sign in as #{persona.name}", class: "govuk-button govuk-!-margin-bottom-8" %>
<% end %>

<% if not_last? %>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">
<% end %>
