<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: new_provider_onboarding_path,
      ) %>
<% end %>

<%= form_for @form, url: new_provider_type_path, method: :post do |form| %>
  <% page_data(title: "Provider type", subtitle: "Add provider", header: false, error: @form.errors.present?) %>

  <%= content_for(:page_alerts) { form.govuk_error_summary } %>

  <%= form.hidden_field :accreditation_status %>
  <%= form.hidden_field :provider_type %>

  <%= form.govuk_radio_buttons_fieldset(:provider_type, legend: { text: "Provider type" }, caption: { text: "Add provider" }) do %>
    <% form.object.provider_type_options_for_radios.each_with_index do |item, index| %>
      <%= form.govuk_radio_button :provider_type, item[:key],
                                  label: { text: item[:value] },
                                  link_errors: index.zero? %>
      <% if index == 1 %>
        <%= form.govuk_radio_divider %>
      <% end %>
    <% end %>
  <% end %>
  <%= form.govuk_submit %>

<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", providers_path) %>
</p>
