<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: @back_path
      ) %>
<% end %>

<% page_data(title: @page_title, subtitle: @page_subtitle, caption: @page_caption, error: @form.errors.present?) %>

<%= debug_address_summary_card(provider) %>

<%= form_for @form, url: @form_url, method: :post do |form| %>
  <%= content_for(:page_alerts) { form.govuk_error_summary } %>

  <%= hidden_field_tag("debug", true) if debug_mode? %>

  <%= form.govuk_text_field :postcode,
                            label: { text: "Postcode", size: "s" },
                            width: "one-quarter",
                            hint: { text: "For example, SW1P 3BT" } %>

  <%= form.govuk_text_field :building_name_or_number,
                            label: { text: "Building number or name (optional)", size: "s" },
                            width: "two-thirds",
                            hint: { text: "For example, 15 or Sanctuary Buildings" } %>

  <%= form.govuk_submit "Find address" %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", @cancel_path) %>
</p>
