<%= content_for(:breadcrumbs) do %>
    <%= govuk_back_link(text: "Back", href: provider_path(@provider)) %>
<% end %>

<% page_data(title: "Confirm you want to delete #{@provider.operating_name}", subtitle: "Delete provider",
             caption: "Delete provider") %>

<%= govuk_warning_text(text: "Deleting a provider is permanent – you cannot undo it.") %>

<%= govuk_button_to("Delete provider", provider_delete_path(@provider), method: :delete, warning: true) %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", provider_path(@provider)) %>
</p>
