<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: request.referer,
      ) %>
<% end %>

<%= form_for @form, url: form_url, method: form_method do |form| %>
  <% page_data(title: page_title, subtitle: page_subtitle, header: false, error: @form.errors.present?) %>

  <%= content_for(:page_alerts) { form.govuk_error_summary } %>

  <%= form.hidden_field :provider_id %>

  <%= form.govuk_fieldset legend: { text: "Contact details" }, caption: { text: page_caption } do %>
    <%= form.govuk_text_field :first_name,
                              label: { text: "First name", size: "s" },
                              width: "two-thirds" %>

    <%= form.govuk_text_field :last_name,
                              label: { text: "Last name", size: "s" },
                              width: "two-thirds" %>

    <%= form.govuk_text_field :email,
                              label: { text: "Email address", size: "s" },
                              width: "full" %>

    <%= form.govuk_text_field :telephone_number,
                              label: { text: "Phone number (optional)", size: "s" },
                              width: "two-thirds" %>

  <% end %>

  <%= form.govuk_submit %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", provider_contacts_path(provider)) %>
</p>
