<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
        text: "Back",
        href: back_path,
      ) %>
<% end %>

<%= form_for @provider, url: new_provider_details_path(goto: params[:goto]), method: :post do |form| %>
  <% page_data(title: "Provider details", subtitle: "Add provider", header: false, error: @provider.errors.present?) %>

  <%= content_for(:page_alerts) { form.govuk_error_summary } %>
  <%= form.govuk_fieldset legend: { text: "Provider details" }, caption: { text: "Add provider" } do %>
    <%= render partial: "fields", locals: { form: } %>
  <% end %>
  <%= form.govuk_submit %>

<% end %>

<p class="govuk-body">
  <%= govuk_link_to("Cancel", providers_path) %>
</p>
