<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <title><%= [yield(:page_title).presence, yield(:page_subtitle).presence, t("service.name"), "GOV.UK"].compact.join(" - ") %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta(name: "viewport", content: "width=device-width, initial-scale=1") %>
    <%= tag.meta(property: "og:image", content: asset_path("rebrand/images/govuk-opengraph-image.png")) %>
    <%= tag.meta(name: "theme-color", content: "#0b0c0c") %>
    <%= favicon_link_tag asset_path("rebrand/images/favicon.ico") %>
    <%= favicon_link_tag asset_path("rebrand/images/govuk-icon-mask.svg"), rel: "mask-icon", type: "image/svg", color: "#0b1c0c" %>
    <%= favicon_link_tag asset_path("rebrand/images/govuk-icon-180.png"), rel: "apple-touch-icon", type: "image/png", size: "180x180" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(full_width_border: true, homepage_url: root_path, navigation_classes: "govuk-header__navigation--end") do |header|
          if @current_user.present?
            header.with_navigation_item(text: "Your account", href: account_path, active: false)
            header.with_navigation_item(text: "Sign out", href: sign_out_path, active: false)
          end
        end %>

    <%= govuk_service_navigation(
          service_name: t("service.name"),
          service_url: root_path,
          current_path: request.path,
          navigation_items: [
            { text: "Providers", href: providers_path, active_when: providers_path },
            { text: "Support users", href: users_path, active_when: users_path },
          ]
        ) if @current_user.present? %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(
            tag: { text: "Beta" },
            text: safe_join([
              "This is a new service – your ",
              govuk_link_to("feedback", "mailto:becomingateacher@digital.education.gov.uk"),
              " will help us to improve it."
            ]),
          ) %>
    </div>

    <div class="govuk-width-container">
      <%= yield :breadcrumbs %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <% if flash.any? %>
              <% flash.each do |key, message| %>
                <% if key == "success" %>
                  <%= govuk_notification_banner(title_text: "Success", success: true) do |nb| %>
                    <% nb.with_heading(text: message) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <%= yield(:page_alerts) %>
          </div>
        </div>

        <% if content_for?(:custom_layout) %>
          <%= yield(:custom_layout) %>
        <% else %>
          <%= yield(:page_header) %>
          <%= yield(:navigation) %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <%= yield(:page_header) %>
            </div>
          </div>
          <%= yield(:secondary_navigation) %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </main>
    </div>

    <%= govuk_footer(meta_licence: "") do |footer| %>
      <% footer.with_meta_html do %>
        <h2 class="govuk-heading-m">Get help</h2>
        <div class="govuk-footer__meta-custom">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div class="app-footer__email">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                  Email
                </h3>
                <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1">
                  <%= support_email(classes: "govuk-footer__link") %>
                </p>

                <p class="govuk-!-font-size-16">You’ll get a response within 5 working days.</p>
              </div>
            </div>
          </div>
        </div>

        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Accessibility", accessibility_path, class: "govuk-footer__link") %>
          </li>

          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Cookies", cookies_path, class: "govuk-footer__link") %>
          </li>

          <li class="govuk-footer__inline-list-item">
            <%= govuk_link_to("Privacy notice", privacy_path, class: "govuk-footer__link") %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
